<ion-header>
  <ion-toolbar>
    <ion-col>
      <div class="ion-text-center">
    <ion-title>Inscription</ion-title>
    </div></ion-col>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-col>
    <div class="ion-text-center">
  <ion-title>Formulaire d'inscription</ion-title>
  </div></ion-col>
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input [(ngModel)]="can_nom" placeholder="Nom" type="string" id="can_nom" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Prénom</ion-label>
    <ion-input [(ngModel)]="can_prenom" placeholder="Prénom" type="string" id="can_prenom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mail</ion-label>
    <ion-input [(ngModel)]="can_mail" placeholder="Mail" type="string" id="can_mail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Téléphone</ion-label>
    <ion-input [(ngModel)]="can_tel" placeholder="Numéro de téléphone" type="string" id="can_tel"></ion-input>
  </ion-item>
  <ion-list>
    <ion-radio-group [(ngModel)]="can_form" value="can_form">
      <ion-list-header>
        <ion-label>Formation désirée</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>SLAM : Solutions Logicielles et Applications Métier</ion-label>
        <ion-radio slot="start" value="SLAM"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>SISR : Solutions d’infrastructure, systèmes et réseaux</ion-label>
        <ion-radio slot="start" value="SISR"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Ne sais pas</ion-label>
        <ion-radio slot="start" value="NSP"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>



  <ion-list>
    <ion-radio-group [(ngModel)]="can_lieu" value="can_lieu">
      <ion-list-header>
        <ion-label>Lieu d'inscription</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Porte-ouverte</ion-label>
        <ion-radio slot="start" value="Porte_Ouverte"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Salon de l'étudiant</ion-label>
        <ion-radio slot="start" value="Salon_Etudiant"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  
  <ion-item>
    <ion-datetime hidden="true" displayFormat="DD/MM/YYYY" [(ngModel)]="can_date"></ion-datetime>
  </ion-item>

  <ion-content class="padding">
    <div class = "row center">
      <div class="col text-center">
        <ion-button (click)="addFirestore()" color="success" type="submit">Success</ion-button>
        <!--(click)="addFirestore()" -->
      </div>
    </div>
  </ion-content>
</ion-content>