<ion-header>
</ion-header>
<ion-content>
<ion-col>
  <div class="ion-text-center">
</div></ion-col>


<!--filtre permettant de trié selon l'option-->
<ion-item>
  <ion-label>Option désirée</ion-label>
  <ion-select interface="action-sheet" [(ngModel)]="filterTerm">
    <ion-select-option value="">Par défaut</ion-select-option>
    <ion-select-option value="SLAM">SLAM</ion-select-option>
    <ion-select-option value="SISR">SISR</ion-select-option>
    <ion-select-option value="NSP">Ne sait pas</ion-select-option>
  </ion-select>
</ion-item>
<!--filtre permettant de trié selon les dates présente dans firebase-->
<ion-item>
  <ion-label>Année</ion-label>
  <ion-select interface="action-sheet" [(ngModel)]="filterTerm">
    <ion-select-option value="">Par défaut</ion-select-option>
    <ion-item *ngFor="let candidat of listeCandidats | filter:filterTerm ">
    <ion-select-option value="{{candidat.date}}">{{candidat.date}}</ion-select-option>
  </ion-item>
  </ion-select>
</ion-item>

<!-- refresh de la page lorsque l'on glisse vers le bas -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


<ion-item>
    <ion-col>Nom</ion-col>
    <ion-col>Prénom</ion-col>
    <ion-col>Mail</ion-col>
    <ion-col>Tel</ion-col>
    <ion-col>Date</ion-col>
    <ion-col>Option</ion-col>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let candidat of listeCandidats | filter:filterTerm ">
      <ion-label>{{candidat.nom}}</ion-label>
      <ion-label>{{candidat.prenom}}</ion-label>
      <ion-label>{{candidat.mail}}</ion-label>
      <ion-label>{{candidat.tel}}</ion-label>
      <ion-label>{{candidat.date}}</ion-label>
      <ion-label>{{candidat.ins_form}}</ion-label>
    </ion-item>
  </ion-list>

  <!--
  
  <ion-item *ngFor="let candidats of candidats | async">
    <ion-label>{{ candidats.can_nom }}</ion-label>
    <ion-label>{{ candidats.can_prenom }}</ion-label>
    <ion-label>{{ candidats.can_mail }}</ion-label>
    <ion-label>{{ candidats.can_tel }}</ion-label>
</ion-item>-->


</ion-content>
