<ion-header>

</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Sélectionner la date
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-select placeholder="Choisir une date">
      </ion-select>
    </ion-item>
  </ion-list>

  
  <ion-list>
    <ion-list-header>
      <ion-label>
        Sélectionner la section
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Section</ion-label>
      <ion-select placeholder="Choisir une section">
        <ion-select-option value="SLAM">SLAM</ion-select-option>
      <ion-select-option value="SISR">SISR</ion-select-option>
      <ion-select-option value="NeSaisPas">Ne sais pas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-item>
    <ion-col>Nom</ion-col>
    <ion-col>Prénom</ion-col>
    <ion-col>Mail</ion-col>
    <ion-col>Tel</ion-col>
  </ion-item>
  
  <ion-item *ngFor="let candidats of candidats | async">
    <ion-label>{{ candidats.can_nom }}</ion-label>
    <ion-label>{{ candidats.can_prenom }}</ion-label>
    <ion-label>{{ candidats.can_mail }}</ion-label>
    <ion-label>{{ candidats.can_tel }}</ion-label>
</ion-item>
</ion-content>
