<ion-tabs>


<!--Si je suis connecter je vois le bouton deconnexion-->
    <div *ngIf="connected">
      
      <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil" (click)="logout()">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Déconnexion</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</div>
<!--Si je suis déconnecter je vois le bouton Accueil-->
<div *ngIf="!connected">
  <ion-tab-bar slot="bottom">
  <ion-tab-button tab="accueil">
    <ion-icon name="triangle"></ion-icon>
    <ion-label>Accueil</ion-label>
  </ion-tab-button>
</ion-tab-bar>
  </div>




</ion-tabs>
