<ion-tabs>



    <div *ngIf="connected">
      <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil" (click)="logout()">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Déconnexion</ion-label>
    </ion-tab-button>
      
    <ion-tab-button tab="">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Récapitulatif</ion-label>
    </ion-tab-button> 
  </ion-tab-bar>
</div>

<div *ngIf="!connected">
  <ion-tab-bar slot="bottom">
  <ion-tab-button tab="accueil">
    <ion-icon name="triangle"></ion-icon>
    <ion-label>Accueil</ion-label>
  </ion-tab-button>
</ion-tab-bar>
  </div>




</ion-tabs>
