<ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col>
    <div class="ion-text-center">
      <h3>Bienvenue</h3>
    </div>
  </ion-col>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <ion-col>
    <div class="ion-text-center">
      <ion-button size="default" color="light">Inscription</ion-button>
      <ion-button size="default" color="light">Connexion</ion-button>
    </div>
  </ion-col>
  <ion-col>
    <div class="ion-text-center">
      <ion-button size="small" fill="outline" color="dark">RGPD</ion-button>
    </div>
  </ion-col>
</ion-content>
