<ion-header>

</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <br><br><br>
  <ion-img [src]="images" name="logo.png"></ion-img>
  <br><br><br>

  <ion-col>
    <div class="ion-text-center">
      <h3>Bienvenue</h3>
    </div>
  </ion-col>
  <ion-col>
    <div class="ion-text-center">
      <ion-button size="default" [routerLink]="['/tabs/inscription']" color="light">Inscription</ion-button>
      <ion-button size="default" [routerLink]="['/tabs/login']" color="light">Connexion</ion-button>
    </div>
    
  </ion-col>
  <ion-col>
    <div class="ion-text-center">
      <ion-button size="small" fill="outline" [routerLink]="['/tabs/rgpd']" color="dark">RGPD</ion-button>
    </div>
  </ion-col>

</ion-content>
  
