<ion-header>
</ion-header>

<ion-content>
  <ion-col>
    <div class="ion-text-justify">
      <h3>Règlement général sur la protection des données</h3>
    </div>
  </ion-col>
  <ion-col>
    <div class="ion-text-justify">
      <p>Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par le DPO pour augmenter les chances du candidat lors de la sélection parcour'sup.
        <br><br>
        Les données collectées seront communiquées aux seuls destinataires suivants : Les superviseurs des sections.
        <br><br>
        Les données sont conservées pendant 3 ans.
        <br><br>
        Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. (en fonction de la base légale du traitement, mentionner également : Vous pouvez retirer à tout moment votre consentement au traitement de vos données ; Vous pouvez également vous opposer au traitement de vos données ; Vous pouvez également exercer votre droit à la portabilité de vos données)
        <br><br>
        Consultez le site cnil.fr pour plus d’informations sur vos droits.
        <br><br>
        Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter (le cas échéant, notre délégué à la protection des données ou le service chargé de l’exercice de ces droits) : ngobtssio@gmail.com 
        <br><br>
        Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.</p>
    </div>
  </ion-col>
</ion-content>
